:root {
    --primary-color: #0366d6;
}

.my-markdown-body {
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.my-markdown-body p {
    margin-bottom: 0;
}

.my-markdown-body h1 ~ p {
    text-align: center;
}

.my-markdown-body h2 ~ p {
    text-align: left;
}

.my-markdown-body h1 {
    text-align: center;
    padding: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 60px;
    border-bottom: 2px solid;
}

.my-markdown-body h2 {
    border: 0;
}
