:root {
    --primary-color: #0366d6;
}

.my-markdown-body {
    max-width: 800px;
    margin: auto;
}

.my-markdown-body h1 {
    text-align: center;
    padding: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    height: 60px;
}

.my-markdown-body h2 {
    color: var(--primary-color);
}

.my-markdown-body h1 {
    border-bottom: 0;
}

.my-markdown-body h2 {
    padding-bottom: 5px;
    border-bottom: 3px var(--primary-color) dotted;
}

.my-markdown-body code {
    color: var(--primary-color);
}
