#custom {
  max-width: 800px;
  margin: auto;
}

#custom h1 {
  border: 0;
}

#custom table {
  display: table;
  width: 100%;
}

#custom tr,
#custom td {
  border: 0;
}

#custom td {
  padding-left: 0;
}
